<html>
	<head>
	<title>ICD-9-CM Search Engine</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div class="container">
		<div class="page-header search-input center-block">
		<a href="/">
			<img src="http://130.136.143.12:8890/static/icd-logo.png" class="center-block logo"/>
		</a>
		</div>
		
		<div class="row"></div>
			<div class="row search-input center-block">
				<div class="center-block">
					<form method="post" action="/search">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" style="background-color: #5cb85c;">Inserisci testo</span>
							<input type="text" id="text_input" name="q" class="form-control" placeholder="Esempio: Epigastralgia, dispnea, dolore toracico">      
							<select class="form-control" id="num_result" name="num_result">
								<option>4</option>
								<option>3</option>
								<option>2</option>
								<option>1</option>
						  </select>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		
		<div class="row center-block">

		<div class="alert alert-success" role="alert" style="text-align:center"><b>{{ q }}</b></div>
		
		{% for disease in list_disease[:num_result] %}
			<div class="panel panel-success">
			  <div class="panel-heading">
				<h3 class="panel-title" title="{{ disease.parent_path }}">{{ disease.parent_label }}</h3>
			  </div>
			  <div class="panel-body">
				<a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target='#s{{disease.icdcm.replace(".","") }}'  aria-expanded="false">
					<span class="badge">{{len(disease.sibiling)}}</span>
					<h4 class="list-group-item-heading">{{disease.icdcm}}<small class="list-group-item-text"> {{ disease.label}}</small> </h4>
				</a>
				<div id='s{{disease.icdcm.replace(".","")}}' class="sublinks collapse" aria-expanded="false" style="">
					{% for sibiling in disease.sibiling %}
					<a href="#" class="list-group-item list-child">
						<h4 class="list-group-item-heading">{{sibiling.icdcm}}<small class="list-group-item-text"> {{sibiling.label}}</small></h4>
					</a>
					{% end %}
				</div>

			  </div>
			</div>
		{% end %}
		</div>

		</div>
		<footer>
			<div class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
			<div class="navbar-collapse collapse" id="footer-body">
				<ul class="nav navbar-nav">
					<li><a href="/log">Storico</a></li>
					<li><a href="/static/abbreviazioni.html">Dizionario abbreviazioni</a></li>
					<li><a href="mailto:stefano.rizzo8@unibo.it?subject=icd9cm">Contattaci</a></li>
				</ul>
				<p class="navbar-text navbar-right"><a href="#" class="navbar-link"><img src="static/icd-logo_small.png" class="logosmall" /></a></p>
			</div>
			</div>
			</div>
		</footer>
	</body>
</html>
